/*Name: Pratham Bhatiya
  Student Number: 8960915
*/

body{
    font: 15px Arial;
    background-color: hsla(162,76%,56%,0.6);
    height: 100vh;
    width: 100vw;
}


h2{
    color : #703;
    font-size: 20px;   
}