body{
    width: 900px; /* change the width of the content on the page*/
    border: 2px solid black; /* add a 2px border in black around the content */
    margin: 20px auto; /* 20px margin from top and bottom of the browser body and auto makes the content sit equidistant from the left and right of the browser body */
    padding: 20px; /* make the content inside the body sit at a 20px gap from all the 4 sides */
}

header{
    text-align: center; /* Center the text in the header*/
}

h1{
    color: #800d29; /* using a hex code to change the colour */
    font-family: cursive; /* changes how the text looks to use the cursive font */
}

nav{
    background-color: #f7e7d9; /* add colour to the nav background */
    padding: 20px 0; /* add a 20 px top and bottom padding in the nav tag  */
    text-align: center; /* make the text in the nav centered */
}

nav a{
    font-size: 20px; /* make the text bigger than default */
    font-weight: bold; /* make the text bold */
    color: #9f0015; /* change the colour of the text links */
    text-decoration: none; /* remove the underline */
    padding: 0 30px; /* push the links away from the other links */
}
img{
    width: 100%; /* make the image go all the way from left to the right */
}
footer{
    text-align: center; /* Center the text in the footer */
    font-weight: bold; /* make the text bold */
    background-color: #f7e7d9; /* add colour to the  background */
    padding: 20px 0; /* add a 20 px top and bottom padding in the footer tag  */
    font-size: 20px; /* make the text bigger than default */
    color: #9f0015; /* change the colour of the text */
    clear: both;
}
main{
    width: 68%;
    float: left;
}
main p a{
    text-decoration: none;
}
a:hover{
    color: #800d29;
}
aside{
    float: right;
    width: 30%;
    margin:auto ;
}
aside h3{
    color: #800d29;
    font-weight: bold;
    text-align: center;
    background-color:#f7e7d9;
}
aside ul{
    list-style-type: none;
    padding: 0%;
    text-align: left;
}
li:nth-child(odd){
    background-color: #800d29;
    color: #f7e7d9;
    
}